.navbar {
    background-color: #14161a;
    z-index: 1;
}

#nav-bg {
    background-color: #14161a; 
}

#logoutIcon {
    transition: all 0.3s ease;
}

#logoutIcon:hover {
    color: #4c00ff;
    
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(76, 0, 255, 0.4);
}