/* Navbar */



/* Main */

#page-bg {
    height: 100vh;
}

.title span {
    text-shadow: rgb(67, 34, 124) 1px 0 10px;
}

.Typewriter {
    font-size: 20px;
}

.icon a {
    transition: .3s ease-in-out;
}

.icon a:hover {
    transition: .3s ease-in-out;
    transform: translateY(-2px);
}

.images img {
    width: 300px;
    height: auto;
}
